extends templatefile.pug 

block title 
    title Form Submission

block content 
    div(class="content")
        div(class="header")
            h1 Form Submission
        div(class="text")
            h2= message