doctype html 
html 
    head 
        meta(charset="UTF-8")
        block title
        link(rel="stylesheet" href="/css/main.css")
        block stylesheet
        block scripts
    body 
        nav 
            ul 
                li 
                    a(href="/main") Posts
                li
                    a(href="/postform") New Post
                li
                    a(href="/account") Account
        block content
        block footer
            